<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>naughtydog</display-name>
  
  
  <!--RegisterServlet-->
  <servlet>
       <servlet-name>RS</servlet-name>
       <servlet-class>com.main.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RS</servlet-name>
    <url-pattern>/rs</url-pattern>
  </servlet-mapping>
 
  <!--LoginServlet-->
  <servlet>
       <servlet-name>LS</servlet-name>
       <servlet-class>com.main.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LS</servlet-name>
    <url-pattern>/ls</url-pattern>
  </servlet-mapping>
 
  <!--OrderServlet-->
  <servlet>
       <servlet-name>OS</servlet-name>
       <servlet-class>com.main.OrderServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>OS</servlet-name>
    <url-pattern>/os</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>